/nbproject/private/
/proyectoPrimeF-war/nbproject/private/
/proyectoPrimeF-ejb/nbproject/private/
/proyectoPrimeF-ejb/build/
/build/
/proyectoPrimeF-ejb/dist/
/proyectoPrimeF-war/build/
/proyectoPrimeF-war/dist/